@use "../../styles/variables";
@use "sass:color";

.header-calculation-page {
    flex-direction: row;
    gap: 7px;
    margin-bottom: 5vw;
}

img.mata-gede-image {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
    max-width: 350px;
}

section.input-section {
    max-width: 800px;
    margin-block: -20px 40px;
    .label-row {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        font-weight: 600;
        color: white;
        margin-bottom: 0.5rem;

        label {
            flex: 1;
            text-align: left;

            &:last-child {
                text-align: left;
                padding-left: 20px;
            }
        }
    }

    .input-row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;

        input,
        select {
            flex: 1;
            padding: 0.75rem 1rem;
            font-size: 13px;
            border-radius: 15px;
            border: none;
            outline: none;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            min-width: 250px;
            color: grey;
        }

        select {
            appearance: none;
            background-image: url('data:image/svg+xml;charset=US-ASCII,<svg fill="%23999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 1rem;
        }
    }

    .btn-predict {
        width: 100%;
        padding: 0.75rem;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        background-color: variables.$green-color;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: color.adjust(
                variables.$green-color,
                $lightness: -10%
            );
        }
    }
}

.calculation-card-wrapper {
    flex-direction: row;
    width: fill;
    gap: 20px;
    z-index: 10;

    .rekomendasi-badge-wrapper {
        position: absolute;
        left: 0%;
        top: 0%;
        transform: translate(-25%, -50%);
    }
    .wrapper-prediksi-container {
        display: flex;
        gap: 10%;
        width: 100%;
        align-items: center;
        img {
            width: 22%;
            height: max-content;
        }
        .prediksi-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            width: 100%;
            .inner-container {
                display: flex;
                gap: 10px;
                .custom-badge {
                    margin-top: 15px;
                }
            }
        }
    }
}

.calculation-warning-recommendation {
    width: inherit;
    padding: 20px 0;
}
