@use "../../styles/variables";

.header-calculation-page {
    flex-direction: row;
    gap: 7px;
    margin-bottom: 5vw;
}

img.mata-gede-image {
    position: absolute;
    right: 0;
    top: 10%;
    z-index: -1;
}

.calculation-card-wrapper {
    flex-direction: row;
    width: fill;
    gap: 20px;
    z-index: 10;

    .rekomendasi-badge-wrapper {
        position: absolute;
        left: 0%;
        top: 0%;
        transform: translate(-25%, -50%);
    }
    .wrapper-prediksi-container {
        display: flex;
        gap: 10%;
        width: 100%;
        align-items: center;
        img {
            width: 22%;
            height: max-content;
        }
        .prediksi-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            width: 100%;
            .inner-container {
                display: flex;
                gap: 10px;
                .custom-badge {
                    margin-top: 15px;
                }
            }
        }
    }
}

.calculation-warning-recommendation {
    width: inherit;
    padding: 20px 0;
}
