// colors
$green-color: #00898b;
$secondary-green-color: #d4feea;

$gold-color: #f2af29bf;
$secondary-gold-color: #f2af29;

$text-color: #1f2937;
$background-color: #f9fafb;

// typography
$base-font-size: 16px;

@function font-size-class($size) {
    @return clamp(map-get($size, min), map-get($size, vw), map-get($size, max));
}

// prettier-ignore
$font-sizes: (
    48: (min: 2.5rem, vw: 5vw, max: 3rem),
    36: (min: 2rem, vw: 4vw, max: 2.25rem),
    32: (min: 1.875rem, vw: 3.5vw, max: 2rem),
    24: (min: 1.5rem, vw: 3vw, max: 1.5rem),
    20: (min: 1.25rem, vw: 2.5vw, max: 1.25rem),
    18: (min: 1.125rem, vw: 2vw, max: 1.125rem),
    16: (min: 1rem, vw: 1.5vw, max: 1rem),
    14: (min: 0.875rem, vw: 1vw, max: 0.875rem)
);

@each $key, $value in $font-sizes {
    .font-#{$key} {
        font-size: font-size-class($value);
    }
}
