@use "../styles/variables";

$header-width: 120vw;
$header-radius: 150vw;

.header-wrapper {
    background: linear-gradient(
        to right,
        variables.$green-color 15%,
        variables.$gold-color 75%
    );
    width: $header-width;
    height: 45vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 0 0 $header-radius $header-radius;

    section.header {
        flex-direction: row;
        color: white;
        font-weight: 300;
        gap: 10px;
        align-items: center;
        strong {
            font-weight: 600;
        }
        img {
            width: 150px;
        }
    }
}
